<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.docsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".ThyrocareChild"></activity>
        <activity android:name=".Rapid" />
        <activity android:name=".Thyrocare" />
        <activity android:name=".TypelabtestAct" />
        <activity android:name=".ConsultAct" />
        <activity android:name=".PackageBook" />
        <activity android:name=".Support" />
        <activity android:name=".ContactAct" />
        <activity android:name=".PrivacyAct" />
        <activity android:name=".TermsAct" />
        <activity android:name=".Gd" />
        <activity android:name=".RecordAct" />
        <activity android:name=".CouponsAct" />
        <activity android:name=".CashAct" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SelectLoactionActivity" />
        <activity android:name=".SearchLocationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>